#introduce{
    text-align: justify;
    padding-bottom: 50px;
}

.grey_content{
    
    padding-left: 25%;
    padding-right: 25%;
    background-color: #404040;
    padding-top: 30px;
    padding-bottom: 30px;

}

.black_content{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 25%;
    padding-right: 25%;
}





.SmallTitle{
    
    font-size: 50px;
    text-align: justify;
    color: blanchedalmond;
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.BigTitle:hover{
    color: orange;
}



#YoutubeVedio{
    
    margin: auto;
   
}
.vedioDiv{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    text-align: right;
}

#imgboxIcan{
    text-align: center;
    padding-bottom: 50px;
}

#threeimgs{
    width: 400px;
    height: 250px;
    
}
 
.imgbox{
    top:100px;
    padding-top: 70px;
}
.box1{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: aliceblue;
    
}

div.box1:hover{
    filter: drop-shadow(10px 10px 10px #000);
}

h1.introduce2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    
    /* margin: 3em 8em;
    font-size: 2rem;
    font-weight: 100;
    line-height: 3em;
    text-align: left;
    letter-spacing: -1.8px; */
    /* position:relative; */
}
h1.introduce2:hover {
    text-decoration: underline;
    color: antiquewhite;
}